/* src/components/GenerateTestCasesCard.css */
/* Assuming you have Card.css handling .custom-card styles */

/* Additional styles specific to GenerateTestCasesCard if needed */

.custom-dropdown .dropdown-toggle {
  display: flex;
  justify-content: space-between;
  align-items: center;
  text-align: left; /* Align the text to the left */
  padding-right: 1.5rem; /* Ensure padding for the arrow */
}

.custom-dropdown .dropdown-toggle::after {
  margin-left: auto; /* Move the arrow to the far right */
  margin-right: 0.5rem; /* Add some spacing between the arrow and the edge */
}

.custom-dropdown .dropdown-menu {
  width: 100%;
  min-width: unset;
}

.custom-dropdown .dropdown-item {
  width: 100%;
}

.upload-btn {
  color: #172031;
  border-color: #172031;
}

.upload-btn:hover {
  background-color: #172031;
  border-color: #172031;
  color: white;
}

.file-limit-text {
  font-size: 0.85rem; /* Smaller text */
  color: rgba(0, 0, 0, 0.5); /* Semi-transparent text */
  margin-top: -10px; /* Adjust spacing if needed */
  margin-bottom: 20px; /* Adjust spacing if needed */
}

.generate-button {
  display: block;      /* Makes the button take up the full width of its container */
  margin: 20px auto;   /* Auto margin on the left and right centers the button */
  width: fit-content;  /* The button will take up only as much width as its content */
}
