/* src/components/Sidebar.css */

.sidebar {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    width: 275px;
    background-color: #172031; /* Dark background to match existing theme */
    color: #d7d9db;
    min-height: 100vh;
    padding: 20px;
    box-sizing: border-box;
  }
  
  .user-info {
    text-align: center;
    margin-bottom: 5px;
  }
  
  .sidebar-menu {
    flex-grow: 1; /* Allows menu to expand and center vertically */
    display: flex;
    flex-direction: column;
    justify-content: center; /* Center items vertically */
    width: 100%;
  }
  
  .sidebar ul {
    list-style: none;
    padding: 0;
    margin: 0;
  }
  
  .sidebar-item {
    background-color: #007bff; /* Background color for options */
    color: #fff; /* Text color */
    padding: 15px;
    margin: 10px 0;
    border-radius: 4px;
    cursor: pointer;
    text-align: center; /* Center text horizontally */
  }
  
  .sidebar-item.active {
    background-color: #0056b3; /* Darker color for active state */
  }
  
  .sidebar-item:hover {
    background-color: #0056b3; /* Darker color on hover */
  }

  .username {
    color: whitesmoke;
    font-weight: bold;
    font-size: 23px;
    margin-bottom: 20px;
  }

  .user-domain {
    color: whitesmoke;
    font-weight: bold;
    font-size: 23px;
  }
  
  .upload-option {
    margin-bottom: 50px;
    margin-top: -120px;
  }

  .generate-option {
    margin-top: 210px;
  }